.navbg{
    background: #1C1C24!important;
}
ul{
    li{
        a{
            color: #ffff !important;
        }
    }
}
// home button
.home{
  background: #13131a;
}
body{
  background: #13131a;
}
.box{
  background: #13131a;
  color: white;
  height: 450px;
  img{
    height: 200px;
    object-fit: cover;
  }

}
.box1{
  background: #13131a;
  color: white;
  height: 180px;
  img{
    height: 200px;
    object-fit: cover;
  }

}
